<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 500px;">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Changer le mot de passe</h2>
            {% if message %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endif %}
            {% from '_macros.html' import csrf_field %}
            <form action="{{ url_for('chg_pwd') }}" method="post">
                {{ csrf_field() }}
                <input type="hidden" name="username" value="{{ username }}">
                <div class="mb-3">
                    <label for="old_password" class="form-label">Ancien mot de passe</label>
                    <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Entrez votre ancien mot de passe" required>
                </div>
                <div class="mb-3">
                    <label for="new_password" class="form-label">Nouveau mot de passe</label>
                    <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Entrez un nouveau mot de passe" required>
                </div>
                <div class="mb-3">
                    <p class="form-text">Le mot de passe doit contenir au moins :</p>
                    <ul class="list-unstyled">
                        <li><span class="cond1"></span> 15 caractères</li>
                        <li><span class="cond2"></span> 1 majuscule</li>
                        <li><span class="cond3"></span> 1 minuscule</li>
                        <li><span class="cond4"></span> 1 chiffre</li>
                        <li><span class="cond5"></span> 1 caractère spécial</li>
                    </ul>
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Confirmer le nouveau mot de passe</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirmez votre nouveau mot de passe" required>
                </div>
                <div id="password_match" aria-live="polite" class="form-text text-muted mb-3"></div>
                <button type="submit" class="btn btn-primary w-100">Changer le mot de passe</button>
            </form>
        </div>
        <div class="card-footer text-center mt-3">
            <small class="text-muted">&copy; 2025 ACFC. Tous droits réservés.</small>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='admin/js/admin.js') }}"></script>