<div class="container">
    {% if message %}
    <div class="container messages">
        <div class="alert alert-danger">
            {{ message }}
        </div>
    </div>
    {% endif %}
    <form action="{{ url_for('login') }}" method="post">
        <div class="form-group">
            <label for="old_password">Ancien mot de passe</label>
            <input type="password" id="old_password" name="old_password" placeholder="ancien..." required>
        </div>
        <div class="form-group">
            <label for="new_password">Nouveau mot de passe</label>
            <input type="password" id="new_password" name="new_password" placeholder="nouveau..." required>
        </div>
        <div class="form-group">
            <p>Le mot de passe doit contenir au moins :</p>
            <ul>
                <li><span class="cond1"></span>15 caractères</li>
                <li><span class="cond2"></span>1 majuscule</li>
                <li><span class="cond3"></span>1 minuscule</li>
                <li><span class="cond4"></span>1 chiffre</li>
                <li><span class="cond5"></span>1 caractère spécial</li>
            </ul>
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirmer le nouveau mot de passe</label>
            <input type="password" id="confirm_password" name="confirm_password" placeholder="confirmer..." required>
        </div>
        <button type="submit">Changer le mot de passe</button>
    </form>
</div>
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>