flask==3.1.1
dotenv==0.9.9
waitress==3.0.2
argon2-cffi==25.1.0
flask-session==0.8.0
sqlalchemy==2.0.43
mysql-connector-python==9.4.0
pymongo==4.14.1
qrcode[pil]==8.2
pillow==11.3.0
flask-wtf==1.2.2
weasyprint==66.0
pycups==2.0.4