<div class="container centered-messages">
    <h1>Erreur {{ status_code }} : {{ status_message }}</h1>
    <img
        src="{{ url_for('static', filename='common/img/blocked_road.svg') }}"
        alt="Erreur 400, route barrée !"
        sizes="(max-width: 600px) 25vw, 150px"
        class="img-error img-fluid">
        <div class="container message ">
            <div class="alert alert-danger bd-callout-danger">
                <p><strong>Vous ne pouvez pas accéder à cette ressource.</strong></p>
                {% if message %}
                {{ message }}
                {% endif %}
                <p>Si vous pensez qu'il s'agit d'une erreur, veuillez contacter l'administrateur du site.</p>
        </div>
    </div>
</div>