{# main.html: include le template spécifique en fonction de la variable `context` #}
{% if context == 'catalogue' %}
    {% include 'catalogue/catalogue.html' %}
{% elif context == 'clients' %}
    {% include 'clients/clients.html' %}
{% elif context == 'commercial' %}
    {% include 'commercial/commercial.html' %}
{% elif context == 'comptabilite' %}
    {% include 'comptabilite/comptabilite.html' %}
{% elif context == 'stocks' %}
    {% include 'stocks/stocks.html' %}
{% else %}
    {# template par défaut si `context` absent ou inconnu #}
    {% include 'common/default.html' %}
{% endif %}